//- 
  Monkey Business (Animated)
  Grant Jenkins, August 2022

  Animation based off:
  https://miro.medium.com/max/700/1*mzFefEQwsHF_F7F_NbCzcg.gif
  
  To run pug examples: https://www.sitepoint.com/a-beginners-guide-to-pug/

canvas#canvas
script(src="https://cdn.jsdelivr.net/processing.js/1.4.8/processing.min.js")
